<!DOCTYPE html>
<html lang="en">
<body style="background: aliceblue;">
<div class="container">
    <!--adduser form heading-->
    <div class="row">
        <div class="col-md-3"><h2>Update User</h2></div>

        <div class="col-md-6"></div>

        <div class="col-md-3"></div>
    </div>

    <!--adduser form-->
    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">

            {{#each userdata}}

            <form class="form-horizontal" method="post" action="/updateUser/{{this.id}}">

                <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" value="{{this.fname}}" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Last Name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" value="{{this.lname}}" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" value="{{this.email}}" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Profession</label>
                    <input type="text" class="form-control" id="profession" placeholder="Enter Profession" name="profession" value="{{this.profession}}" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="UpdateUser">Update User</button>
                </div>

            </form>

            {{/each}}

        </div>
        <div class="col-md-3">
        </div>
    </div>


</div>
</body>
</html>
