<!DOCTYPE html>
<html lang="en">
    <body style="background:azure">
        <div class="container">
            <!--adduser form heading-->
              <div class="row">
                <div class="col-md-3"><h2>Add User</h2></div>

                <div class="col-md-6"></div>

                <div class="col-md-3"></div>
              </div>

            <!--adduser form-->
              <div class="row">

                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <form class="form-horizontal" method="post" action="/adduser">

                      <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Last Name</label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputPassword1">Profession</label>
                        <input type="text" class="form-control" id="profession" placeholder="Enter Profession" name="profession" required>
                      </div>

                      <div class="form-group">
                        <button type="submit" class="btn btn-danger" id="AddUser">Add User</button>
                      </div>

                    </form>
                </div>
                <div class="col-md-3">
                </div>
              </div>

            <!--retrieve table-->
            <div class="row">

                <div class="col-md-2"><h2>User Table</h2>
                </div>

                <div class="col-md-8">
                    <table class="table table-bordered">
                      <thead>
                         <th>First Name</th>
                         <th>Last Name</th>
                         <th>Email</th>
                         <th>Profession</th>
                         <th>Actions</th>
                      </thead>

                      <tbody>

                      {{#each users}}
                          <tr>
                              <td>{{this.fname}}</td>
                              <td>{{this.lname}}</td>
                              <td>{{this.email}}</td>
                              <td>{{this.profession}}</td>
                              <td>
                                  <a href="/edit/{{this.id}}" ><button class="btn btn-primary">Edit</button></a>

                                  <a href="/deleteuser/{{this.id}}" ><button class="btn btn-primary">Delete</button></a>
                              </td>
                          </tr>
                      {{/each}}

                      </tbody>
                    </table>

                </div>
                <div class="col-md-2">
                </div>
            </div>
                <!--retrieve table ends here-->

        </div>
    </body>
</html>



